# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Ambientes virtuais
.venv/
venv/
ENV/
env/
env.bak/
.virtualenv/

# Logs e temporários
*.log
*.tmp
*.temp
*.out

# Testes e cobertura
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Arquivos de configuração locais
*.env
.env.*
!.env.example

# ==========================
# IDEs e Editores
# ==========================
tests/
# VS Code
.vscode/

# Cursor (baseado no VS Code)
.cursor/

# PyCharm / IntelliJ
.idea/

# Visual Studio
.vs/

# ==========================
# Sistema operacional
# ==========================
.DS_Store
Thumbs.db